---
title: Tutorials, Videos & Quickstarts
---


## <span class="bigfirstletter">H</span>yperloop COMPS architecture tutorials

With these tutorials you will learn how the hyperloop parts interact together. Mainly **Components**, **Operations** and **Stores**, because **Models** and **Policies** are more specifically related to the server environment. So you can find tutorials for those 2 parts in [Hyperloop and Rails](/tutorials/hyperlooprails) tutorials.

Those tutorials are independant from web server environment (HTTP, Ruby On Rails, Sinatra, JS, etc...). So in order to test the code you can implement it either in a pure Javascript environment (hyperloop.js) or in Ruby On Rails. 


##### <i class="flaticon-professor-teaching"></i>[<span class="bigfirstletter">F</span>irst simple app using Components, Stores and Operations Tutorial](/tutorials/hyperloopcomps/compstoreop-first)

This tutorial is a good start to understand fundamentals of Hyperloop and the way **Components**, **Stores** and **Operations** are interacting together. 

**Skills covered**: Components, Stores, operations











