# Introduction to Hyperloop

This introduction will take you through most of what you need to know to get started with Hyperloop. There are live code examples, so please feel free to experiment as you read.

There are five important ingredients to the Hyperloop architecture (COMPS for short):

<%= partial "docs/comps_table"%>

After reading this introduction you might like to try some of the [Tutorials](/tutorials) or jump into the [Docs](/docs/architecture) for a comprehensive overview of the Hyperloop architecture.

---------------------------------

<button type="button" class="btn btn-primary btn-lg btn-hyperlooppink" onclick="location.href='/start/components';">Start with Components</button>
