<h1><div class="hyperlogoalone" id="policies"><%= image_tag "HyperPolicies.png", width: '50'%></div>
<div class="chaptertitle"><span class="bigfirstletter">P</span>olicies</div>
</h1>



<button type="button" class="btn btn-primary btn-lg btn-hyperlooppink" onclick="location.href='/start/pradgmatic';">Pradgmatic thinking</button>
