-----------------------------------
<h2><div class="hyperlogoalone" id="policies"><%= image_tag "HyperPolicies.png", width: '35'%></div>
Policies
</h2>

TODO

---------------------

<button type="button" class="btn btn-primary btn-lg btn-hyperlooppink" onclick="location.href='/start/pradgmatic';">Time for some pradgmatic thinking</button>
