<h1><div class="hyperlogoalone" id="policies"><%= image_tag "HyperPolicies.png", width: '35'%></div>
<span class="bigfirstletter">P</span>olicies
</h1>

TODO

<button type="button" class="btn btn-primary btn-lg btn-hyperlooppink" onclick="location.href='/start/pradgmatic';">Time for some pradgmatic thinking</button>
