-----------------------------------
<h2><div class="hyperlogoalone" id="policies"><%= image_tag "HyperPolicies.png", width: '35'%></div>
Policies
</h2>

TODO

------------------------------------
### Welcome aboard!

We hope you have enjoyed this introduction to Hyperloop. As a next step, perhaps try some of the [Tutorials](/tutorials) or jump into the [Docs](/docs/architecture) for a comprehensive overview of the Hyperloop architecture.


# Todo find somewhere for this
+ class MyConfig < Hyperloop
+ class MyComponent < Hyperloop::Component
+ class MyOperation < Hyperloop::Operation
+ class MyModel < Hyperloop::Model
+ class MyPolicy < Hyperloop::Policy
+ class MyStore < Hyperloop::Store
