<h1>
  <span class="bigfirstletter">P</span>ragmatic Architecture
</h1>

In summary, there are five important ingredients to the Hyperloop architecture (COMPS for short):

<%= partial "docs/comps_table"%>

### Pragmatic Thinking

<%= partial "docs/pragmatic_thinking"%>

### Welcome aboard!

We hope you have enjoyed this introduction to Hyperloop. As a next step, perhaps try some of the [Tutorials](/tutorials) or jump into the [Docs](/docs/architecture) for a comprehensive overview of the Hyperloop architecture.

---------------------

<button type="button" class="btn btn-primary btn-lg btn-hyperlooppink" onclick="location.href='/tutorials';">Try the Tutorials</button>
