
.homepageTable {
	display: inline-block;
	margin-left: 50px;

	.divTable{
		display: table;
	}
	.divTableRow {
		display: table-row;
		text-align: center;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
	}
	.divTableCell, .divTableHead {
		border: 0px solid #d9d9d9;
		display: table-cell;
		vertical-align: top;
		display: inline-block;
	}
	
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
	
}


.startpageTable {

	.divTable{
		display: table;
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.divTableRow {
		display: table-row;

	}

	.first { width: 20%; } .second { width: 80%; }
	@media (min-width: 576px) { .first { width: 20%; }.second { width: 80%; }}
	@media (min-width: 768px) { .first { width: 17%; }.second { width: 83%; }}
	@media (min-width: 992px) { .first { width: 13%; }.second { width: 87%; }}
	@media (min-width: 1200px) { .first { width: 10%; }.second { width: 90%; }}
	  

	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
	}
	.divTableCell, .divTableHead {
		border: 0px solid #d9d9d9;
		display: table-cell;
		vertical-align: middle;
		padding: 10px;


	}
	.divTableCell.img {
		padding: 8px;

	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
	
}



.hyperlogoalone {
	display: inline-block;
	margin-right: 10px;
}
