---
title: Tutorials, Videos & Quickstarts
---

# <span class="bigfirstletter">L</span>earn Hyperloop

This site contains a number of Tutorials and Quickstarts. The tutorials are arranged in accordance with the architectural aspect they cover, though some are not limited only to that aspect. 

Keeping the tutorials current is quite a task so please raise any issues you find or better still, issue a pull request against the source branch of the website. All help and contribution is most welcome and valued.

Teaching is a fantastic way to learn, so if you find that a topic is not well covered, please feel free to write a tutorial of your own which we can include here.

#####<i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">H</span>yperloop COMPS](/tutorials/hyperloopcomps) 
For learning the hyperloop architecture: Components, Operations, Models, Policy and Stores. Those tutorials are independant from web server environment (HTTP, Ruby On Rails, Sinatra, JS, etc...). 

#####<i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">H</span>yperloop.js](/tutorials/hyperloopjs) 
For learning particular technics when implementing Hyperloop with the pure Javascript library <%= link_to 'hyperloop.js', 'https://github.com/ruby-hyperloop/hyperloop-js' , :class => 'express-yellow' %>.

#####<i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">H</span>yperloop and Rails](/tutorials/hyperlooprails) 
For learning technics when implementing Hyperloop onto Ruby On Rails with the <%= link_to 'hyperloop GEM', 'https://github.com/ruby-hyperloop/hyperloop' , :class => 'rails-red' %>. Including the 3 amazing functionnalities coming with it: [Isomorphic models and ActiveRecord API](/docs/models/active-record), [Push notifications](/docs/models/configuring-transport) to clients and [Broadcast policies](/docs/policies/authorization#details).

#####<i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">H</span>yperloop deployment](/tutorials/hyperloopdeploy) 
For learning how to deploy a hyperloop application to a production server (particularly when using Rails). 


#####<i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">O</span>pal](/tutorials/opal)
For learning Opal syntax and technics.