@font-face {
  font-family: 'opensans-regular';
  src: url('fonts/opensans/OpenSans-Regular-webfont.eot');
  src: url('fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans/OpenSans-Regular-webfont.svg#action_manregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-regular';
  src: url('fonts/raleway/raleway-regular.eot');
  src: url('fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway/raleway-regular.woff') format('woff'),
         url('fonts/raleway/raleway-regular.ttf') format('truetype'),
         url('fonts/raleway/raleway-regular.svg#action_manregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('fonts/raleway/raleway-bold.eot');
    src: url('fonts/raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
           url('fonts/raleway/raleway-bold.woff') format('woff'),
           url('fonts/raleway/raleway-bold.ttf') format('truetype'),
           url('fonts/raleway/raleway-bold.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('fonts/raleway/raleway-semibold.eot');
    src: url('fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
           url('fonts/raleway/raleway-semibold.woff') format('woff'),
           url('fonts/raleway/raleway-semibold.ttf') format('truetype'),
           url('fonts/raleway/raleway-semibold.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}