<% case %>
<% when current_page.path.include?("help") %>
  <div>
    <p>The <strong>best way</strong> to get help and contribute is to join our Gitter Chat</p>
    <button type="button" class="btn btn-primary btn-lg btn-hyperloopgitter" onclick="location.href='https://gitter.im/ruby-hyperloop/chat';">Gitter Chat</button>
  </div>
<% when current_page.path.include?("blog") %>
  <ul class="nav">
    <% blog.articles.each do |article| %>
        <li class="nav-item"><a href="<%= article.url %>"><%= article.title %></a></li>
    <% end %>
  </ul>
<% when current_page.path.include?("gems") %>
  <ul class="nav">
    <p>For information on how to use the gems be sure to see:</p>
    <li class="nav-item"><a href="/installation">Installation</a></br></li>
    <li class="nav-item"><a href="/tutorials">Tutorials</a></br></li>
    <li class="nav-item"><a href="/docs/architecture">Docs</a></br></li>
    <li class="nav-item"><a href="/tools">Tools and Debugging</a></br></li>
  </ul>
<% when current_page.path.include?("installation") %>

  <ul class="nav">
    <li class="nav-item"><a href="installation#hyperloopjs">Hyperloop.js</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="installation#hyperloopjssetup">Setup</a></li>
      <li class="nav-item"><a href="installation#hyperloopjssimplehelloworld">Simple
      HelloWorld</a></li>
      <li class="nav-item"><a href="installation#hyperloopjstutorials">Tutorials</a></li>
    </ul>
  </ul>

  <br>

  <ul class="nav">
    <li class="nav-item"><a href="installation#ror">With Ruby On Rails</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="installation#rorsetup">Setup</a></li>
      <li class="nav-item"><a href="installation#rorsimplehelloworld">Simple
      HelloWorld</a></li>
      <li class="nav-item"><a href="installation#rortutorials">Tutorials</a></li>
      <li class="nav-item"><a href="#advanced-configuration">Advanced configuration</a></li>
    </ul>
  </ul>

  <br>

  <ul class="nav">
    <li class="nav-item"><a href="#with-sinatra">With Sinatra</a></br></li>
  </ul>

  <br>

  <ul class="nav">
    <li class="nav-item"><a href="#deployment">Deployment</a></br></li>
  </ul>



<% when current_page.path.include?("tools") %>
  <ul class="nav">
    <li class="nav-item"><a href="#testing">Testing</a></br></li>
    <li class="nav-item"><a href="#tools">Tools</a></br></li>
    <li class="nav-item"><a href="#debugging">Debugging</a></br></li>
  </ul>

<% when current_page.path.include?("docs") %>
  <ul class="nav">
    <li class="nav-item"><a href="/docs/architecture">Hyperloop Architecture</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/docs/architecture#comps-overview">COMPS Overview</a></li>
      <li class="nav-item"><a href="/docs/architecture#pragmatic-thinking">Pragmatic Thinking</a></li>
      <li class="nav-item"><a href="/docs/advancedconfiguration">Advanced configuration</a></li>
    </ul>
  </ul>

  <br>
  <ul class="nav">
    <li class="nav-item"><a href="/docs/components/dsl-overview">Components</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/docs/components/components-and-state">Components and State</a></br></li>
      <li class="nav-item"><a href="/docs/components/lifecycle-callbacks">Lifecycle Callbacks</a></br></li>
      <li class="nav-item"><a href="/docs/components/lifecycle-methods">Lifecycle Methods</a></br></li>
      <li class="nav-item"><a href="/docs/components/event-handelers">Event Handelers</a></br></li>
      <li class="nav-item"><a href="/docs/components/elements-rendering">Elements and Rendering</a></br></li>
      <li class="nav-item"><a href="/docs/components/javascript-components">Javascript Components</a></br></li>
      <li class="nav-item"><a href="/docs/components/further-reading">Further Reading</a></br></li>
    </ul>
  </ul>

  <br>
  <ul class="nav">
    <li class="nav-item"><a href="/docs/stores/overview">Stores</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/docs/stores/overview#receiving-operation-dispatches">Receiving Operation Dispatches</a></li>
      <li class="nav-item"><a href="/docs/stores/overview#reading-and-mutating-states">Reading and Mutating States</a></li>
      <li class="nav-item"><a href="/docs/stores/overview#instances-and-classes">Instances and Classes</a></li>
      <li class="nav-item"><a href="/docs/stores/overview#explicitly-declaring-states">Explicitly Declaring States</a></li>
      <li class="nav-item"><a href="/docs/stores/overview#hyperloop-store-mixin">Store Mixin</a></li>
    </ul>
  </ul>

  <br>
  <ul class="nav">
    <li class="nav-item"><a href="/docs/operations/overview">Operations</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/docs/operations/overview#flux-and-operations">Flux and Operations</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#defining-execution-steps">Defining Execution Steps</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#promises-and-operations">Promises and Operations</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#early-exits">Early Exits</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#validation">Validation</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#handling-failed-operations">Handling Failed Operations</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#running-operations">Running Operations</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#server-operations">Server Operations</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#dispatching-from-server-operations">Dispatching From ServerOps</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#channels">Channels</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#defining-connections-in-serverops">Defining Connections</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#regulating-dispatches-in-policy-classes">Regulating Dispatches</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#serialization">Serialization</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#dispatching-with-new-parameters">Dispatching New Parameters</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#instance-verses-class-execution-context">Execution Context</a></li>
      <li class="nav-item"><a href="/docs/operations/overview#the-boot-operation">The Boot Operation</a></li>
    </ul>
  </ul>

  <br>
  <ul class="nav">
    <li class="nav-item"><a href="/docs/models/overview">Models</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/docs/models/active-record">ActiveRecord API</a></li>
      <li class="nav-item"><a href="/docs/models/scoping">Scoping</a></br></li>
      <li class="nav-item"><a href="/docs/models/configuring-transport">Configuring the Transort</a></li>
      <li class="nav-item"><a href="/docs/models/debugging">Debugging</a></li>
      <li class="nav-item"><a href="/docs/models/common-errors">Common Errors</a></li>
    </ul>
  </ul>

  <br>
  <ul class="nav">
    <li class="nav-item"><strong><a href="/docs/policies/authorization">Policies</a></strong></li>
    <ul class="nav">
      <li class="nav-item"><a href="/docs/policies/authorization#details">Details</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#defining-policies-and-policy-classes">Policy Classes</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#channels-and-connection-policies">Channels and connection Policies</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#class-names-instances-and-ids">Class Names Instances and IDs</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#acting-user">Acting User</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#automatic-connection">Automatic Connection</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#manually-connecting-to-channels">Manually Connecting to Channels</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#connection-sequence-summary">Connection Sequence Summary</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#disconnecting">Disconnecting</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#broadcasting-and-broadcast-policies">Broadcasting and Broadcast Policies</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#browser-initiated-change-policies">Browser Initiated Change policies</a></li>
      <li class="nav-item"><a href="/docs/policies/authorization#method-summary-and-name-space-conflicts">Method Summary and Name Space Conflicts</a></li>
    </ul>
  </ul>

<% when current_page.path.include?("start") %>
  <ul class="nav">
    <li class="nav-item"><a href="/start/components">Components</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/start/components#rendering-components">Rendering Components</a></li>
      <li class="nav-item"><a href="/start/components#passing-paramaters">Passing Paramaters</a></li>
      <li class="nav-item"><a href="/start/components#state-and-conditional-execution">State and conditional execution</a></li>
      <li class="nav-item"><a href="/start/components#stylish-components">Stylish Components</a></li>
      <li class="nav-item"><a href="/start/components#javascript-libraries">JavaScript Libraries</a></li>
    </ul>
    <br>

    <li class="nav-item"><a href="/start/stores">Stores</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/start/stores#overloaded-components">Overloaded Components</a></li>
      <li class="nav-item"><a href="/start/stores#a-simple-store">A simple Store</a></li>
      <li class="nav-item"><a href="/start/stores#sharing-stores">Sharing Stores</a></li>
    </ul>
    <br>

    <li class="nav-item"><a href="/start/operations">Operations</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/start/operations#operations-and-stores">Operations and Stores</a></li>
      <li class="nav-item"><a href="/start/operations#ispatchers-and-receivers">Dispatchers and Receivers</a></li>
      <li class="nav-item"><a href="/start/operations#server-operations">Server Operations</a></li>
    </ul>
    <br>

    <li class="nav-item"><a href="/start/models">Models</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/start/models#crud-access">CRUD Access</a></li>
      <li class="nav-item"><a href="/start/models#push-notifications">Push Notifications</a></li>
      <li class="nav-item"><a href="/start/models#how-it-works">How it works</a></li>
    </ul>
    <br>

    <li class="nav-item"><a href="/start/models#policies">Policies</a></li>
    <ul class="nav">
      <li class="nav-item"><a href="/start/models#policy-classes">Policy Classes</a></li>
    </ul>
    <br>

    <li class="nav-item"><a href="/start/pradgmatic">Pragmatic Architecture</a></li>
  </ul>

  <% when current_page.path.include?("tutorials") %>
  <ul class="nav">

    <li class="nav-item"><strong><a href="/tutorials/hyperloopcomps">Hyperloop COMPS</a></strong></li>
    <li class="nav-item"><strong><a href="/tutorials/hyperloopjs">Hyperloop.js</a></strong></li>
    <li class="nav-item"><strong><a href="/tutorials/hyperlooprails">Hyperloop and Rails</a></strong></li>
    <li class="nav-item"><strong><a href="/tutorials/hyperloopdeploy">Hyperloop deployment</a></strong></li>
    <li class="nav-item"><strong><a href="/tutorials/opal">Opal</a></strong></li>
    <li class="nav-item"><strong><a href="/tutorials/videos">Videos</a></strong></li>

  </ul>

  <% when current_page.path.include?("index") %>
    <div class="getstarted">
      <p>Get Started with <a href="/docs/architecture">Hyperloop</a> right now, no installation necessary, <strong>code</strong> in your browser.</p>
      <button type="button" class="btn btn-primary btn-lg btn-hyperlooppink" onclick="location.href='/start/components';">Start Here</button>
    </div>



<% end %>
