<% case %>
<% when current_page.path.include?("gems") %>
  <a href="/gems/reactrb">Reactrb</a></br>
  <a href="/gems/reactrb-reactive-record">Reactive Record</a></br>
  <a href="/gems/reactrb-synchromesh">Synchromesh</a></br>
  <a href="/gems/reactrb-router">Router</a></br>
  <a href="/gems/reactrb-express">Reactrb Express</a></br>
<% when current_page.path.include?("installation") %>
  <a href="#using-reactrb-express">Opal Playground</a></br>
  <a href="#with-rails">Using Reactrb-Express</a></br>
  <a href="#with-rails">With Rails</a></br>
  <a href="#with-sinatra">With Sinatra</a></br>
  <a href="#building-with-rake">Building with Rake</a></br>
<% when current_page.path.include?("tools") %>
  <a href="#tools">Tools</a></br>
  <a href="#debugging">Debugging</a></br>
<% when current_page.path.include?("docs") %>
  <a href="#dsl-overview">DSL Overview</a></br>
  <a href="#state-components-and-event-handelers">State & Components</a></br>
  <a href="#top-level-api">Top level API</a></br>
  <a href="#using-javascript-components">Javascript Components</a></br>
  <a href="#further-reading">Further Reading</a></br>
<% end %>
