<% case %>
<% when current_page.path.include?("gems") %>
  <a href="/gems/reactrb">Reactrb</a></br>
  <a href="/gems/reactrb-reactive-record">Reactive Record</a></br>
  <a href="/gems/reactrb-synchromesh">Synchromesh</a></br>
  <a href="/gems/reactrb-router">Router</a></br>
  <a href="/gems/reactrb-express">Reactrb Express</a></br>
<% when current_page.path.include?("installation") %>
  <a href="#using-reactrb-express">Opal Playground</a></br>
  <a href="#with-rails">Using Reactrb-Express</a></br>
  <a href="#with-rails">With Rails</a></br>
  <a href="#with-sinatra">With Sinatra</a></br>
  <a href="#building-with-rake">Building with Rake</a></br>
<% when current_page.path.include?("tools") %>
  <a href="#tools">Tools</a></br>
  <a href="#debugging">Debugging</a></br>
<% when current_page.path.include?("docs") %>
  <a href="/docs/dsl_overview">DSL Overview</a></br>
  <a href="/docs/top_level_api">Top level API</a></br>
  <a href="/docs/components_and_state">Components & State</a></br>
  <a href="/docs/lifecycle_callbacks">Lifecycle Callbacks</a></br>
  <a href="/docs/lifecycle_methods">Lifecycle Methods</a></br>
  <a href="/docs/event_handelers">Event Handelers</a></br>
  <a href="/docs/javascript_components">Javascript Components</a></br>
  <a href="/docs/further_reading">Further Reading</a></br>
<% when current_page.path.include?("tutorials") %>
  <a href="/tutorials/chat_app">Chat-App Tutorial</a></br>
  <a href="/tutorials/rails">Reactrb and Rails</a></br>
  <a href="/tutorials/react_components">React components</a></br>
  <a href="/tutorials/reactive_record">Reactive Record</a></br>
  <a href="/tutorials/synchromesh">Synchromesh</a></br>
<% end %>
