---
title: Blog
pageable: true
---
<% blog.articles.each do |article| %>
  <article>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
      <br>
      <small>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </small>
    </h1>

    <%= article.summary %>

  </article>
  <br>
<% end %>
