---
title: Blog
pageable: true
---
<h1>Blog</h1>

<% blog.articles.each do |article| %>
  <article>
    <h2>
      <a href="<%= article.url %>"><%= article.title %></a>
      <small>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </small>
    </h2>

    <%= article.summary %>

  </article>
  <br>
<% end %>
