<section class="page-header">
  <h1 class="project-name">Reactrb</h1>
  <h2 class="project-tagline">USE RUBY TO BUILD REACTIVE USER INTERFACES</h2>
  <a href="#" class="btn">View on GitHub</a>
  <a href="#" class="btn">Install Gem</a>
  <a href="#" class="btn">Chat on Gitter</a>
</section>

<section class="main-content">
  <h3>PURE RUBY</h3>
    <p>Reactrb lets you build beautiful interactive user interfaces using the same Ruby language running your server side code. Reactrb replaces JS code, JSX, HTML, templating languages, and complex frameworks with one simple system.</p>
  <h3>REACT + RUBY</h3>
    <p>The power and simplicity of React with a great easy to use Ruby DSL. Reactrb frees you up to do what you do best - building great apps.</p>
  <h3>SIMPLICITY</h3>
    <p>One language. One simple model. Under the hood Reactrb takes care of all the details for you. The same ruby code runs on the server to deliver pages fast, and then keeps running on the client to handle your user interactions.</p>
  <h2>THE MISSING RUBY FRONT END LIBRARIES</h2>
    <p>Info about the gems...</p>
  </section>
